In [14]:
import pandas as pd

# 파일load
df = pd.read_excel('C:/BCI Data/ratio file/승철_all_ratio.xlsx')

idx = df[df['ClickorNot']==1].index
df_0 = df.drop(idx)

In [16]:
len(idx)

294

In [17]:
df_0_random = df_0.sample(n=294)

In [18]:
df_0_random

      Unnamed: 0  ratio_mu  ratio_theta  ratio_beta  ClickorNot
180           67 -0.359215    -0.938539    0.123474           0
14            53 -0.018694     0.012106   -0.124355           0
3024         172  0.128759     0.054049    0.057660           0
1165         133 -0.133806     0.316471   -0.136072           0
1509         150 -0.032632     0.432434    0.151211           0
...          ...       ...          ...         ...         ...
429          151  0.397158     1.133232    0.030936           0
1624         115  1.616184     0.414353    0.764989           0
2351         101  0.399531    -0.090295   -0.115057           0
1211         179 -0.248665     0.468265    0.058149           0
1084         190  1.248274     0.126278    0.072134           0

[294 rows x 5 columns]

In [19]:
df_1 = df[df['ClickorNot']==1]

In [20]:
df_1

      Unnamed: 0  ratio_mu  ratio_theta  ratio_beta  ClickorNot
0             39 -0.030778     0.112913    0.035145           1
11            50  2.501787     3.544818    0.003763           1
20            59  0.267257     0.432455   -0.008742           1
32            71 -0.227974     0.004844   -0.021561           1
44            83  0.222768     0.760514    0.056349           1
...          ...       ...          ...         ...         ...
3141         143 -0.450932    -0.486591   -0.159414           1
3149         151  0.207728    -0.570831    0.077444           1
3158         160  0.044994     0.444982    0.110690           1
3170         172  0.004413    -0.166598   -0.020995           1
3182         184  0.458298    -0.313158   -0.036302           1

[294 rows x 5 columns]

In [26]:
df_1['ratio_beta'].mean()

0.020135240656710927

In [21]:
df_trainset = df_0_random.append(df_1)

In [22]:
df_trainset

      Unnamed: 0  ratio_mu  ratio_theta  ratio_beta  ClickorNot
180           67 -0.359215    -0.938539    0.123474           0
14            53 -0.018694     0.012106   -0.124355           0
3024         172  0.128759     0.054049    0.057660           0
1165         133 -0.133806     0.316471   -0.136072           0
1509         150 -0.032632     0.432434    0.151211           0
...          ...       ...          ...         ...         ...
3141         143 -0.450932    -0.486591   -0.159414           1
3149         151  0.207728    -0.570831    0.077444           1
3158         160  0.044994     0.444982    0.110690           1
3170         172  0.004413    -0.166598   -0.020995           1
3182         184  0.458298    -0.313158   -0.036302           1

[588 rows x 5 columns]

In [23]:
df_trainset.to_excel('trainset588.xlsx')